{% extends 'base.html' %}
{% block title %}
About Us - Blog
{% endblock title %}

{% block body %}
<div class="about-page">
    <div class="heading">
        <h1>About Us</h1>
    </div>
</div>

<div class="about-text flex fd-column">
    <ul>
        <li>First of all, Let me introduce myself</li>
        <li>This is Durgesh, I am Currently Learning First Year B.Tech in Information Technology.</li>
        <li>I am always here to help you in every doubt. You can contact me <a href="/contact-us/">here</a></li>
        <li>Also, You Can Contact me on my following profiles</li>
    </ul>
</div>
<hr>
<div class="profiles">
    <h2>Check My Profiles</h2>
    <div class="profile-container flex fd-row">
        <div class="linkedin"><a href="/">Linked In</a></div>
        <div class="github"><a href="/">GitHub</a></div>
        <div class="facebook"><a href="/">FaceBook</a></div>
        <div class="instagram"><a href="/">Instagram</a></div>
    </div>
</div>
{% endblock body %}