{% extends 'base.html' %}
{% block title %}
All Blogs - Blog
{% endblock title %}

{% block body %}
<div class="all-blogs-page">
    <div class="heading">
        <h1>Browse All Posts</h1>
    </div>
</div>
<div class="post-container-2 flex align-center fd-column">

    {% for post in posts %}
    <div class="post">
        <h3 class="post-title">{{post.title}}</h3>
        <p class="post-desc">{{post.body}}</p>
        <p class="posted-on">Posted On - {{post.date}}</p>
        <p class="posted-by">Posted by - {{post.posted_by}}</p>
        <a class="btn btn-3" href="/posts/{{post.sno}}/">Read More</a>
    </div>
    {% endfor %}
</div>
{% endblock body %}