{% extends 'base.html' %}
{% block title %}
All Blogs - Blog
{% endblock title %}

{% block body %}
<div class="all-blogs-page">
    <div class="heading">
        <h1>Browse All Posts</h1>
    </div>
</div>
<div class="post-container-2 flex align-center fd-column">
    <div class="post">
        <h3 class="post-title">First Post</h3>
        <p class="post-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod
            necessitatibus
            eius odit voluptas fugit natus omnis libero magnam quaerat.</p>
        <p class="posted-on">Posted On - 10/12/2021 09:30AM</p>
        <p class="posted-by">Posted by - admin</p>
        <a class="btn btn-3" href="/">Read More</a>
    </div>
    <div class="post">
        <h3 class="post-title">First Post</h3>
        <p class="post-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod
            necessitatibus
            eius odit voluptas fugit natus omnis libero magnam quaerat.</p>
        <p class="posted-on">Posted On - 10/12/2021 09:30AM</p>
        <p class="posted-by">Posted by - admin</p>
        <a class="btn btn-3" href="/">Read More</a>

    </div>
    <div class="post">
        <h3 class="post-title">First Post</h3>
        <p class="post-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod
            necessitatibus
            eius odit voluptas fugit natus omnis libero magnam quaerat.</p>
        <p class="posted-on">Posted On - 10/12/2021 09:30AM</p>
        <p class="posted-by">Posted by - admin</p>
        <a class="btn btn-3" href="/">Read More</a>

    </div>
    <div class="post">
        <h3 class="post-title">First Post</h3>
        <p class="post-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod
            necessitatibus
            eius odit voluptas fugit natus omnis libero magnam quaerat.</p>
        <p class="posted-on">Posted On - 10/12/2021 09:30AM</p>
        <p class="posted-by">Posted by - admin</p>
        <a class="btn btn-3" href="/">Read More</a>

    </div>
    <div class="post">
        <h3 class="post-title">First Post</h3>
        <p class="post-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod
            necessitatibus
            eius odit voluptas fugit natus omnis libero magnam quaerat.</p>
        <p class="posted-on">Posted On - 10/12/2021 09:30AM</p>
        <p class="posted-by">Posted by - admin</p>
        <a class="btn btn-3" href="/">Read More</a>

    </div>
</div>
{% endblock body %}