{% extends 'base.html' %}
{% block title %}
{{post.title}} - Blog
{% endblock title %}

{% block body %}
<div class="post-page">
    <div class="heading">
        <h1>{{post.title}}</h1>
    </div>
    <p>Posted On - {{post.date}}</p>
    <p>Posted By - {{post.posted_by}}</p>
</div>

<div class="post-body">
    {{post.body}}
</div>
<hr>
<div class="comment-section">

    {% if loggedIn == True %}
    <div class="post-comment">
        <h3>Post a Comment</h3>
        <form action="/posts/{{post.sno}}/" method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="comment">
            <textarea name="comment" id="comment"></textarea>
            <button type="submit" class="btn btn-2">Post Comment</button>
        </form>
    </div>
    {% endif %}

    <h2>Comments</h2>
    <div class="comments-container">

        {% for comment in comments %}
        <div class="comment-body">
            <h4 class="user-name">{{comment.user_posted.name}}</h4>
            <p style="font-size: 14px;">Posted On - {{comment.posted_on}}</p>
            <p class="comment">{{comment.comment_body}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}