{% extends 'base.html' %}
{% block title %}
Reset Password - Blog
{% endblock title %}

{% block body %}
<div class="reset-password-page">
    <div class="heading">
        <h1>Reset Password</h1>
    </div>
</div>

<div class="contact-form">

    {% if userIdentified == True %}
    <form action="/user/reset-password/" class="flex fd-column align-center" method="post">
        {% csrf_token %}
        <input type="hidden" name="reset_now" value="Yes">
        <input type="hidden" name="user" value="{{user.email}}">

        <div class="form-content">
            <label for="password1">Create New Password : </label>
            <input type="password" name="password1" id="password1" required placeholder="Create Your New Password">
        </div>
        <div class="form-content">
            <label for="password2">Confirm New Password : </label>
            <input type="password" name="password2" id="password2" required placeholder="Re-Enter Your New Password">
        </div>
        <div class="form-btns">
            <button type="submit" class="btn btn-2 big">Reset Password</button>
        </div>
    </form>
    {% endif %}
    {% if userIdentified == False %}
    <form action="/user/reset-password/" class="flex fd-column align-center" method="post">
        {% csrf_token %}
        <input type="hidden" name="reset_now" value="No">

        <div class="form-content">
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" required placeholder="Enter Your Email">
        </div>
        <div class="form-content">
            <label for="phone">Mobile Number : </label>
            <input type="text" name="phone" id="phone" required placeholder="Enter Your Mobile Number">
        </div>
        <div class="form-content">
            <label for="dob">Date of Birth : </label>
            <input type="date" name="dob" id="dob" required placeholder="Enter Your Date of Birth">
        </div>
        <div class="form-btns">
            <button type="submit" class="btn btn-2 big">Reset Password</button>
        </div>
    </form>
    {% endif %}


</div>
{% endblock body %}